{% extends "base.html"%} 
{% load humanize %}
{% block content %}     


    <section id="showcase-inner" class="py-5 text-white">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-12">
            <h1 class="display-4">Browse Our Properties</h1>
            <p class="lead">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt,
              pariatur!
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Breadcrumb -->
    <section id="bc" class="mt-3">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href= {% url 'pages:index' %}> <i class="fas fa-home"></i> Home</a>        <!--fixed-->
            </li>
            <li class="breadcrumb-item active">Browse Listings</li>
          </ol>
        </nav>
      </div>
    </section>

    <!-- Listings -->
    <section id="listings" class="py-4">
      <div class="container">
        <div class="row">
            {% if listings %}                           <!--係views'拎既 database; 如果有data-->
            {% for listing in listings %}                <!--左邊 新開叫listing(i)； 右邊係database既listings-->
          <!-- Listing 1 -->
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="card listing-preview">
              <img
                class="card-img-top" 
                src= {{ listing.phtoto_main.url}}                 
                alt=""
              />                                     <!--因為for loop由listings db pass左入去listing, 所以每個data已經叫listing.-->
                                                                        <!--fixed-->
              <div class="card-img-overlay">
                <h2>
                  <span class="badge badge-secondary text-white"
                    > ${{listing.price | intword }}</span
                  >
                </h2>
              </div>
              <div class="card-body">
                <div class="listing-heading text-center">
                  <h4 class="text-primary"> {{listing.title | title}} </h4>
                  <p>
                    <i class="fas fa-map-marker text-secondary"></i> {{listing.district | title}}
                  </p>
                </div>
                <hr />
                <div class="row py-2 text-secondary">
                  <div class="col-6">
                    <i class="fas fa-th-large"></i> Sqrt: {{listing.sqrt | intcomma}}
                  </div>
                  <div class="col-6">
                    <i class="fas fa-dumbbell"></i> Clubhouse: {{listing.clubhouse}}
                  </div>
                </div>
                <div class="row py-2 text-secondary">
                  <div class="col-6">
                    <i class="fas fa-bed"></i> Bedrooms: {{listing.bedrooms}}
                  </div>
                  <div class="col-6">                   <!--bootstrap-->
                    <i class="fas fa-bath"></i> Bathrooms: {{listing.bathrooms}}
                  </div>
                </div>
                <hr />
                <div class="row py-2 text-secondary">
                  <div class="col-12">
                    <i class="fas fa-user"></i> {{listing.realtor | title}}
                  </div>
                </div>
                <div class="row text-secondary pb-2">
                  <div class="col-6">
                    <i class="fas fa-clock"></i> {{listing.list_date | timesince}}
                  </div>
                </div>
                <hr />   
                                            <!--fix this link, use lisitng.id-->
                <a href= {% url 'listings:listing' listing.id %} class="btn btn-primary btn-block">More Info</a>
              </div>                                             <!--張圖顯示既資料都係一樣，所以用listing id = listing table既id-->
            </div>
          </div>
          {% endfor %}
          {% else %}
          <div class='col-md-12'>
            <h2>No Listings available </h2>
          </div>
          {% endif %}
        </div>


        <!--Pagination-->
        <div class="row">
          <div class="col-md-12">
          {% if listings.has_other_pages %}        <!-- 'listings'係 views' context中的key,入面帶住database value ; more than 1 page show, if list no data or only 1 page , dont show pagination-->
            <ul class="pagination">
            {% if listings.has_previous %}           <!-- button制前一頁 -->
                 <li class="page-item">              <!-- button正常-->
                    <a class="page-link" href="?page={{listings.previous_page_number}}" >&laquo;</a>  <!--then button 《去前一頁-->
                 </li>
                {% else %}
              <li class="page-item disabled">                   <!--else 《 button 灰左-->
                <a class="page-link" href="#">&laquo;</a>       <!-- else, # = 唔去-->
              </li>
                {% endif %}


              {% for i in listings.paginator.page_range %}     <!--db listings返回所有頁數RANGE(分左件後) to i-->
              {% if listings.number == i %}                    <!-- 當前頁數 ；(IF) -->
              <li class="page-item active">                   <!--如果係當前頁 - 著燈-->
                <a class="page-link"> {{i}} </a>            <!-- NO href link，只SHOW current page no.-->
              </li>
              {% else %}
              <li class="page-item">                                       
                <a class="page-link" href='?page={{i}}'> {{i}} </a>     <!-- have href link, 1,2,3 button左下角有link -->
              </li>                                        <!--? 會去database +  page = vari ;  page=4 -> page(=VAR); 4(=VALUE) ; database -> to request = {page= 4} -->
              {% endif %}
              {% endfor %}


              {% if listings.has_next %}                        <!-- button制下一頁 -->
              <li class="page-item">
                <a class="page-link" href="?page={{listings.next_page_number}}">&raquo;</a>     <!--then 》 去下一頁-->
              </li>
              {% else %}            
              <li class="page-item disabled">
                <a class="page-link" href="#">&raquo;</a>           <!-- else, # = 唔去-->
              </li>
              {% endif %}
              
            </ul>
            {% endif %}
          </div>
        </div>
      </div>
    </section>




{% endblock %}